<%- include('../partials/header') %>
<form action="/flights" method="POST" autocomplete="off">
  <label>Airline Carrier:</label>
  <br>
  <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <br>
  <br>
  <label>Flight Number:</label>
  <br>
  <input type="text" name="flightNo">
  <br>
  <br>
  <label>Airport of Origin:</label>
  <br>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <br>
  <br>
  <label>Departure Date & Time:</label>
  <br>
  <input type="datetime-local" name="departs" value="<%= DEFAULT_DATE %>">
  <br>
  <br>
  <br>
  <input type="submit" value="Add Flight">
</form>
<%- include('../partials/footer') %>